*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}
/**     HEADER  **/ 
.d-flex{
    height: 25px;
    padding-right: 10px;  
}
.d-flex input{
    background-color: #242628;
    border-color: #5a5a5a;
}
.d-flex button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2ba3ad;  
    border: none; 
}
.buttonsesionpadre{
    display: flex;
    justify-content: end;
    padding: 10px;
}
/**     BODY **/
body{
    background-color: #343a40;
    font-family: sans-serif;
}
body a{
    text-decoration: none;
    color: #ffffff;  
}
/**     BODY RUTINAS  **/
.grid{
    padding-top:30px;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: max-content;
    row-gap: 20px;
    column-gap: 80px;
    justify-content: center;
    grid-template-areas: "seccion seccion2"
    "seccion3 seccion4";

}
.seccion{
    grid-area: seccion;
}
.seccion2{
    grid-area: seccion2;
}
.seccion3{
    grid-area: seccion3;
}
.seccion4{
    grid-area: seccion4;
}
.grid img{
    box-shadow: 3px 5px 5px black;
    border-radius: 1%;
    transition: all 0.2s ease-in-out;
}
.grid h4, .grid p{
    color: #cccccc;
}
.grid h4{
    padding-top: 10px;
}
.grid a :hover{
    transform: scale(1.04);
    box-shadow: 13px 15px 37px black;
}
@media (max-width:992px){
    .grid{
        display: block ;
        text-align: center;
}
}
/**     BODY NOSOTROS   **/
.grid2 h2, .grid2 h3, .grid2 h4, .grid2 h5{
    color: #cccccc;
}
.grid2{
    padding:200px;
    display: grid;
    grid-template-columns: repeat(2, ) ;
    row-gap: 40px;
    column-gap: 150px;
    justify-content: center;
    grid-template-areas:"grid21 grid22"
    "grid23 piedefoto" ;

}
.grid21{
    grid-area: grid21;
}
.grid22{
    grid-area: grid22;
}
.grid23{
    grid-area: grid23;
}
.piedefoto{
    grid-area: piedefoto;
    text-align: center;
}
.staff{
    display: flex;
    justify-content: end;
    align-items: center;
}
@media (max-width:992px){
    .grid2{
        padding: 20px;
        display: block;
        text-align: center;
    }
    .staff{
        justify-content: center;
        padding: 20px;
    }
}
/**     BODY CONTACTO   **/
.grid3{
    display: grid;
    grid-template-columns: repeat(2);
    justify-content: center;
    column-gap: 200px;
    grid-template-areas: "map-hijo map-hijo2";

}
.map-hijo{
    grid-area: map-hijo;
    display: block;
}
.map-hijo2{
    grid-area: map-hijo2;
}
.map-hijo a, .grid3 p, .grid3 h3, .horario{
    color: #cccccc;
    padding: 6px;
}
.form-contacto{
    background-color:#212529;
    height: max-content;
    width: max-content;
    padding: 20px;
    border-radius: 3px;
}
.boton{
    border: none;
    background-color: #23828A;
    height: 30px;
    width: 100px;
}
.form-box{
    display: flex;
    justify-content: space-between;
    padding-top:10px;
}
.form-box label{
    height: 35px;
}
.form-box textarea{
    width: 200px;
    max-height: 250px;
}
.boton:hover{
    background-color: #369ca5;
}
.telydire{
    padding-top: 20px;
}
@media (max-width:992px){
    .grid3{
        display: block;
        text-align: center;
    }
    .solucion{
        display: flex;
        justify-content: center;
    }   
    
}
/**     FOOTER **/
footer{
    padding: 50px;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.footer-links h4, .social-link h4 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: 200;
    border-bottom: 2px solid #23828A;
    padding-bottom: 10px;
    display: inline-block;
}
.social-link a{
    display: inline-block;
    min-height: 40px;  
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all .5s ease;
}
.social-link a:hover{
    background-color: #cccccc;
}
.logo-footer{
    padding-top: 40px;

}
@media(max-width:992px){
    .footer-row{
        text-align: center;
    }
    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
    .logo-footer{
        padding: 10px;
    }
    .footer-links ul{
        display: block;
        align-items: center;
    }

}
/**     DERECHOS **/
.derechos{
    padding-top: 40px;
    display: flex;
    justify-content: center;
}
.derechos p{
    color: rgba(255, 255, 255, 0.2);
}
/** INICIO DE SESION  **/
.logimg{
    display: flex;
    justify-content: center;
}
.bodylogin{
    background-image: url(../imagenes/fondo\ login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.logologin{
    height: 170px;
    padding-top: 5px;
}