$fontSizeGrande: 1.2rem; 
$fontSizeMediana: 0.8rem;                                                                            ;

@import "partials/reset";  
@import "partials/media";

//BODY

body{
    
    background-color: #343a40;
    font-family: sans-serif;
    a{
        text-decoration: none;
        color: #ffffff;  
    }
    #carousel-tamaño{
        max-height: 710px;
    }
    .horario{
        color: #cccccc;
    }
    
    header{
        .d-flex{
            height: 25px;
            padding-right: 10px;  
            input{
                background-color: #242628;
                border-color: #5a5a5a;
            }
            button{
                display: flex;
                justify-content: center;
                align-items: center;
                color: #2ba3ad;  
                border: none; 
            }
        }
        .buttonsesionpadre{
            display: flex;
            justify-content: end;
            padding: 10px;
        }

    }
    #navbarSupportedContent{
        font-size: $fontSizeGrande;
    }
    
    //BODY RUTINAS
    .grid{
        padding-top:30px;
        display: grid;
        grid-template-columns: repeat(2);
        grid-template-rows: max-content;
        row-gap: 20px;
        column-gap: 80px;
        justify-content: center;
        grid-template-areas: "seccion seccion2"
        "seccion3 seccion4";
        .seccion{
            grid-area: seccion;
        }
        .seccion2{
            grid-area: seccion2;
        }
        .seccion3{
            grid-area: seccion3;
        }
        .seccion4{
            grid-area: seccion4;
        }
        img{
            box-shadow: 3px 5px 5px black;
            border-radius: 1%;
            transition: all 0.2s ease-in-out;
        }
        h4{
            padding-top: 10px;
            color: #cccccc;
        }
        p{
            color: #cccccc;
        }
        a :hover{
            transform: scale(1.04);
            box-shadow: 13px 15px 37px black;
        }
        @include small{
            display: block;
            text-align: center;
            .seccion, .seccion2, .seccion3, .seccion4{
                img{
                    max-width: 400px;
                }
                
            }
        }
    
    }

    //BODY NOSOTROS
    .grid2{
        padding:200px;
        display: grid;
        grid-template-columns: repeat(2) ;
        row-gap: 40px;
        column-gap: 150px;
        justify-content: center;
        grid-template-areas:"grid21 grid22"
        "grid23 piedefoto" ;
        h2, h3, h4, h5{
            color: #cccccc;
            @include small{
                padding: 20px;
            }
        }
        .grid21{
            grid-area: grid21;
        }
        .grid22{
            grid-area: grid22;
        }
        .grid23{
            grid-area: grid23;
        }
        .piedefoto{
            grid-area: piedefoto;
            text-align: center;
        }
        .staff{
            display: flex;
            justify-content: end;
            align-items: center;
            @include small{
                justify-content: center;
            }
        }
        @include small{
            display: block;
            text-align: center;
            padding: 20px;
            .imgnos{
                max-width: 450px;
            }
        }
    
    }

    //BODY CONTACTO
    .flex1{
        display: flex;
        justify-content: center;
        column-gap: 200px;
        p, h3 {
        color: #cccccc;
        padding: 6px;
        }
        .map-hijo{
            display: block;
            a{
            color: #cccccc;
            padding: 6px;
            }
        }
        .form-contacto{
            background-color:#212529;
            height: max-content;
            width: max-content;
            padding: 20px;
            border-radius: 3px;
        }
        .boton{
            border: none;
            background-color: #23828A;
            height: 30px;
            width: 100px;
        }
        .boton:hover{
            background-color: #369ca5;
        }
        .form-box{
            display: flex;
            justify-content: space-between;
            padding-top:10px;
            label{
                height: 35px;
            }
            textarea{
                width: 200px;
                max-height: 250px;
            }
        }
        .telydire{
            padding-top: 20px;
        }
        
        @include medium{
            flex-direction: column;
            text-align: center;
            align-items: center;
        }
    
    }  
    
    // FOOTER
    footer{
        padding: 50px;
        .footer-row{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .footer-links, .social-link{
            h4 {
                font-size: 20px;
                color: #ffffff;
                margin-bottom: 25px;
                font-weight: 200;
                border-bottom: 2px solid #23828A;
                padding-bottom: 10px;
                display: inline-block;
            }
        }
        .social-link{
            a{
                display: inline-block;
                min-height: 40px;  
                width: 40px;
                background-color: rgba(255, 255, 255, 0.2);
                margin: 0 10px 10px 0;
                text-align: center;
                line-height: 40px;
                border-radius: 50%;
                transition: all .5s ease;
            }
        }
        .social-link a:hover{
            background-color: #cccccc;
        }
    }
    
    .derechos{
        padding-top: 40px;
        display: flex;
        justify-content: center;
        p{
            color: rgba(255, 255, 255, 0.2);
        }
    }

    //  LOGIN
    .logimg{
        display: flex;
        justify-content: center;
    }
    .logologin{
        height: 190px;
        padding-top: 10px;
    }

}
.bodylogin{
    background-image: url(/imagenes/fondologin.jpg);        
    background-repeat: no-repeat;
    background-size: cover;
}